<div class="pageheader">
		<h2>Build form</h2>
<!--     <p class="description">Campaign</p>
		<div class="breadcrumb-wrapper hidden-xs">
				<span class="label">Campaigns list</span>
				<ol class="breadcrumb">
						<li class="active">campaign</li>
				</ol>
		</div> -->
</div>
<section id="main-content">
		<div class="row">
				<div class="col-md-12 col-lg-12">
						<div class="panel panel-default">
								<div class="panel-heading">
										<h3 class="panel-title">Create backend forms <a href="#/forms-list" title="" class="btn btn-primary btn-square pull-right">Back to list</a></h3>
								</div>
								<div class="panel-body">
										<form novalidate class="form">
											<div class=""<div class="form-group">
												<label for="formTitle">Form Title</label>
												<input type="text" class="form-control" id="formTitle" placeholder="Enter form title" ng-model="formcolection.formTitle">
											</div>
											<br/>	
											<div class=""<div class="form-group">
												<label for="formUrl">Form URL</label>
												<input type="text" class="form-control" id="formUrl" placeholder="Enter form Url" ng-model="formcolection.formUrl">
											</div>	
											<br/>																			
											<div fg-edit fg-schema="myForm.schema"></div>
											<button type="button" class="btn btn-primary" ng-click="submitForm()">Submit</button>
										</form>                  
								</div>
						</div>            
				</div>
		</div>
</section>