<div class="pageheader">
    <h1>Applications forms list</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="index.html">Applications forms list</a></li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Applications forms list</h3>
                    <div class="actions pull-right">
                        <i data-fullscreen-widget class="fa fa-expand"></i>
                        <i data-widget-toggle class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#/form-builder" title="" class="btn btn-primary btn-square pull-right">New form</a>
                    <table class="table table-striped">
                        <thead>
                            <th>Title</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in listData">
                                <td>{{list.formTitle}}</td>
                                <td>{{list.formUrl}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning">Action</button>
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#/form-builder/{{list.id}}">Edit</a></li>
                                            <li><a href="#/form-builder">New</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
