<section class="container animated fadeInUp">
    
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="login-wrapper">
                    <header>
                        <div class="brand">
                            <a href="index.html" class="logo">
                               <i class="fa fa-qrcode"></i>
                                <span>ZAPP</span>DOBARA</a>
                        </div>
                    </header>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">     
                           Sign In
                        </h3>
                        </div>
                        <div class="panel-body">
                            <p class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> Login to access your account.</p>
                            <p class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-error">{{formSubmissionFailedMessage}}</p>
                            <form name="usersSignIn" ng-submit="loginFormSubmitClients(usersSignIn.$valid)" novalidate>
                                <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12">
                                        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="login.username" name="email">
                                        <i class="fa fa-user"></i>
                                        <p ng-show="usersSignIn.email.$invalid && !usersSignIn.email.$pristine" class="help-block form-error">Your email is required.</p>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12">
                                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="login.password" name="password" required>
                                        <i class="fa fa-lock"></i>
                                        <p ng-show="usersSignIn.password.$invalid && !usersSignIn.password.$pristine" class="help-block form-error">Your password is required.</p>
                                       
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12">

                                         <!-- <a href="javascript:void(0)" class="btn btn-default btn-square">Forgot Your Password?</a> -->
                                        <button type="submit" class="btn btn-primary" class="btn btn-primary btn-block" ng-show="usersSignIn.$valid == true">Login</button>
                                        <hr />
                                        <p>Not a client? register today for your free account and start your loyalty scheme</p>
                                        <a href="#/client/sign-up" class="btn btn-default btn-block btn-square btn-sm">register</a> 
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

    <style>
    body {
        background: #fff !important;
    }
    
    .main-content-wrapper {
        background: #fff !important;
    }
    .panel-primary > .panel-heading {
        background-color: #27b6af;
        border-color: #27b6af;
        border-radius: 0px;
    }
    </style>