<div class="pageheader">
    <h2>{{campaign.title}}</h2>
    <p class="description">{{campaign.description}}</p>
</div>
<section id="main-content">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="col-md-12 col-lg-12 text-center">
                <qr type-number="8" correction-level="'M'" size="300" text="qrCode" image="true"></qr>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function(){
        $('.navbar-nav').remove();
        $('.qrcode-scan-button').remove();
        $('.sidebar-left').remove();
        $('.logo').removeAttr('href');

        // $('.main-content-wrapper').css('padding-top','0px');
    });
</script>
