   <section class="container animated fadeInUp">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="login-wrapper">
                    <header>
                        <div class="brand">
                            <a href="index.html" class="logo">
                                 <i class="fa fa-qrcode"></i>
                                <span>ZAPP</span>DOBARA</a>
                        </div>
                    </header>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                          <h3 class="panel-title">     
                           <span ng-hide="signedup">Sign Up</span>
                           <span ng-show="signedup">You have now successfully registered please login</span>
                        </h3>  
                    </div>
                    <div class="panel-body" ng-hide="signedup">
                        <p>Create a free account and start your loyalty scheme today</p>
                        <p >Already a member? <a href="#/client/login"><strong>Sign In</strong></a></p>

                         <div class="form-group">
                            <label for="companyName">Company / Organisation name</label>
                            <input type="companyName" class="form-control" id="companyName" placeholder="Company / Organisation" name="companyName" ng-model="register.companyName" required>
                            <p ng-show="usersRegister.companyName.$invalid && !usersRegister.companyName.$pristine" class="help-block form-error">Your password is required.</p>
                        </div>                        
                        <form role="form" name="usersRegister" ng-submit="registerClient(usersRegister.$valid)" novalidate>
                            <div class="form-group">
                                <label for="userFullName">Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter your name" name="userFullName" ng-model="register.userFullName" required>
                                <p ng-show="usersRegister.userFullName.$invalid && !usersRegister.userFullName.$pristine" class="help-block">Your name is required.</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter your email" name="email" ng-model="register.email" required>
                                <p ng-show="usersRegister.email.$invalid && !usersRegister.email.$pristine" class="help-block">Your email is required.</p>
                            </div>
                             <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" ng-model="register.password" required>
                                <p ng-show="usersRegister.password.$invalid && !usersRegister.password.$pristine" class="help-block form-error">Your password is required.</p>
                            </div>
                          

                       
                            <button type="submit" class="btn btn-primary btn-square" ng-show="usersRegister.$valid == true">Register</button>
                        </form>

                    </div>

                    <div class="panel-body" ng-show="signedup">
                        <p>You have now successfully registered please login using your new details we hope you enjoy Zappdobara as much as we have enjoyed building it.</p>
                        <a href="#/client/login" title="Login" class="btn btn-primary btn-square">LOGIN</a>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </section>

    <div ng-repeat="(id, notification) in notifications track by id">
        <growl-notification class="{{notification.msgClass}}">
            {{notification.msg}}
        </growl-notification>
    </div>

    <style>
    body {
        background: #fff !important;
    }
    
    .main-content-wrapper {
        background: #fff !important;
    }
    .panel-primary > .panel-heading {
        background-color: #27b6af;
        border-color: #27b6af;
        border-radius: 0px;
    }
    </style>