<div class="pageheader">
    <h2>{{pagetitle}}</h2>
    <p class="description">Campaign</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">{{pagetitle}}</span>
        <ol class="breadcrumb">
            <li class="active">{{pagetitle}}</li>
        </ol>
    </div>
</div>
<section id="main-content">
    <div ng-repeat="(id, notification) in notifications track by id">
        <growl-notification class="{{notification.msgClass}}">
            {{notification.msg}}
        </growl-notification>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create your {{pagetitle}}</h3>
                </div>
                <div class="panel-body">
                    <form novalidate class="form" name="formglobal" ng-submit="submitForm(formglobal.$valid)" >
                      <div fg-form
                           fg-form-data="formcolection"
                           fg-schema="myForm.schema">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</section>