<div class="pageheader">
    <h2>{{pagetitle}}</h2>
    <p class="description">Campaign</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">{{pagetitle}}</span>
        <ol class="breadcrumb">
            <li class="active">{{pagetitle}}</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{pagetitle}}</h3>
                </div>
                <div class="panel-body">
                    <ng-include src="tplView"></ng-include>
                </div>
            </div>
        </div>
    </div>
</section>
