<div class="pageheader">
    <h2>Your campaigns</h2>
    <p class="description">List of your active campaigns</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Your campaigns</li>
        </ol>
    </div>
</div>
<section id="main-content">
    <div class="row">
        <div class="col-md-12 col-lg-12">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <p ng-show="emptyCampaigns">You have no campaigns</p>
                <div class="panel panel-solid-primary" ng-repeat="campaign in myPointsFromServer">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{campaign.campaign.title}}</h3>
                        <div class="actions pull-right">
                        </div>
                    </div>
                    <!--div class="panel-body">
                        {{campaign.campaign.description}}
                    </div-->
                    <div class="panel-footer">
                        <div class="btn btn-success">
                            you have <strong>{{campaign.campaign.uservisits}}</strong> of {{campaign.campaign.visitsBeforeDiscount}}
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>
