<!-- Basic Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">{{viewData.title}}</h4>
</div>
<div class="modal-body modal-scroll">
	<div>
		<h3>Description</h3>
		<div class="data-view-copy">{{viewData.description}}</div>
	</div>
	<br/>
	<div>
		<h3>Discount</h3>
		<div class="data-view-copy">{{viewData.campaigndiscount}}</div>
	</div>
	<br/>
	<div>
		<div class="data-view-copy"><strong>Visits before dicount is activated: </strong>{{viewData.visitsBeforeDiscount}}</div>
		<div class="data-view-copy"><strong>Date campaign starts: </strong>{{viewData.dateCampaignStarts}}</div>
		<div class="data-view-copy"><strong>Date campaign ends: </strong>{{viewData.dateCampaignEnds}}</div>

		<div class="data-view-copy"><strong>Date campaign created: </strong>{{viewData.dateTimeCreated | date:'dd-MM-yyyy'}}</div>
		
	</div>
	
	<br/>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <a type="button" class="btn btn-primary" href="#/{{formToGet[1]}}/{{items}}" ng-click="cancel()">Edit</a>
</div>
<!-- End Basic Modal -->