<!-- Basic Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">{{viewData.locationTitle}}</h4>
</div>
<div class="modal-body modal-scroll">
	<div>
		<h3>Address</h3>
		<div class="data-view-copy">{{viewData.address}}</div>
		<div class="data-view-copy">{{viewData.postcode}}</div>
	</div>
	<br/>
	
	<br/>
	<div>
		<div class="data-view-copy"><strong>Contact number: </strong>{{viewData.contactNumber}}</div>
		<div class="data-view-copy"><strong>Longitude: </strong>{{viewData.longitude}} <strong>Latitude: </strong>{{viewData.latitude}}</div>
	</div>
	
	<br/>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <a type="button" class="btn btn-primary" href="#/{{formToGet[1]}}/{{items}}" ng-click="cancel()">Edit</a>
</div>
<!-- End Basic Modal -->