<!-- Basic Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">{{viewData.title}}</h4>
</div>
<div class="modal-body modal-scroll">
	<div>
		<h3>Are you sure you wish to delete, this action is irreversible</h3>
	</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-square" ng-click="cancel()">Cancel</button>
    <a type="button" class="btn btn-danger btn-square" ng-click="deleteItem()" href="#{{currenturl}}">Delete</a>
</div>
<!-- End Basic Modal -->