<!--logo start-->
<div class="brand">
    <a href="index.html" class="logo">
        <span>{{main.projectBoldName}}</span>{{main.projectName}}</a>
        <button type="button" class="btn btn-primary btn-square qrcode-scan-button" ng-click="scanBarCode()"><i class="fa fa-qrcode"></i> SCAN</button>

</div>
<!--logo end-->
<ul class="nav navbar-nav navbar-left">
    <li class="toggle-navigation toggle-left" toggle-left-sidebar></li>
    <!-- <li class="toggle-profile hidden-xs" toggle-profile></li> -->
<!--<li class="hidden-xs">
        <input type="text" class="search" placeholder="Search project...">
        <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
        </button>
    </li> -->
</ul>
<!-- <ul class="nav navbar-nav navbar-right">
    <li class="toggle-navigation toggle-right" toggle-right-sidebar></li>
</ul> -->
