<div class="pageheader">
    <h2>Alerts & Notifications</h2>
    <p class="description">{{main.headerText}}</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>
<section id="main-content" ng-controller="myPointsController">
    <p ng-show="emptyNotifications">You have no notification pending</p>
    <div ng-repeat="campaigns in redeemCampaign.redeemData">
        <div class="col-md-6 col-sm-12 col-xs-12 animated fadeInUp" ng-repeat="redeem in campaigns.campaign.redeem">
            <div class="panel panel-solid-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{campaigns.campaign.title}}</h3>
                </div>
                <div class="panel-body">
                    <!--p>{{campaigns.campaign.campaigndiscount}}</p-->
                    <!-- <pre>{{redeem.id}}</pre> -->
                    <button type="button" ng-click="redeemVocher(redeem.id)" class="btn btn-success btn-block">Click to redeem</button>
                </div>
            </div>
        </div>
    </div>
</section>
