
<nav ng-show="globalSettings.userId">
    <h5 class="sidebar-header">Navigation</h5>
    <!-- location directive.js | data-nav-toggle-sub maps to -->
    <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
        <li ui-sref-active="active">
            <a href="" ui-sref="index" title="Alerts & Notifications">
                <i class="fa fa-fw fa-tachometer"></i> Alerts & Notifications
            </a>
        </li>
        <li ui-sref-active="active">
            <a href="" ui-sref="user-campaigns" title=" Your campaigns">
                <i class="fa fa-tasks"></i> Your campaigns
            </a>
        </li> 
        <li ui-sref-active="active">
            <a ng-click="logout()" title="Logout">
                <i class="fa fa-sign-out"></i> Logout
            </a>
        </li>
    </ul>
</nav>
    <!-- location directive.js | data-nav-toggle-sub maps to -->
<!--     <nav>
        <h5 class="sidebar-header">Admin</h5>
        
        <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
            <li ui-sref-active="active">
                <a href="" ui-sref="formsbuilderlist" title="Created forms">
                    <i class="fa fa-fw fa-tachometer"></i> Application forms
                </a>
            </li>
            <li ui-sref-active="active">
                <a ng-click="logout()" title="Logout">
                    <i class="fa fa-sign-out"></i> Logout
                </a>
            </li>
        </ul>
    </nav> -->
<nav ng-show="globalSettings.campaignOwnerUserId">
    <h5 class="sidebar-header">Client navigation</h5>
    <!-- location directive.js | data-nav-toggle-sub maps to -->
    <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
         <li ui-sref-active="active">
            <a href="" ui-sref="clientdashboard" title="Dashboard">
                <i class="fa fa-dashboard"></i> Dashboard
            </a>
        </li>  
        <li ui-sref-active="active">
            <a href="" ui-sref="campaignlist" title="Campaigns">
                <i class="fa fa-file"></i> Campaigns
            </a>
        </li>  
        <li ui-sref-active="active">
            <a href="" ui-sref="createcampaign" title="New campaign">
                <i class="fa fa-plus-square"></i> New campaign
            </a>
        </li> 
        <li ui-sref-active="active">
            <a href="" ui-sref="campaignlocationlist" title="Your locations">
                <i class="fa fa-map-marker"></i>  Locations
            </a>
        </li> 
        <li ui-sref-active="active">
            <a href="" ui-sref="ceatecampaignlocation" title="New location">
                <i class="fa fa-plus-square"></i>  New locations
            </a>
        </li> 
        <li ui-sref-active="active">
            <a ng-click="logoutClient()" title="Logout">
                <i class="fa fa-sign-out"></i> Logout
            </a>
        </li>
    </ul>
</nav>
