<a href="#/campaign-location" title="" class="btn btn-primary btn-square btn-sm pull-right">New location</a>
<table class="table table-striped" ng-if="listData.length > 0">
    <thead>
        <th>Title</th>
    </thead>
    <tbody>
        <tr ng-repeat="list in listData">
            <td>{{list.locationTitle}}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm">Action</button>
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/campaign-location/{{list.id}}">Edit</a></li>
                        <li><a ng-click="detailListItem(list.id)">View</a></li>
                        <li><a ng-click="deleteItem(list.id)">delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr></tr>
        <tr></tr>
    </tbody>
</table>
<div ng-if="listData.length == 0"><p>You do not have any campaign locations please add some</p></div>
