<div class="pageheader">
    <h2>Dashboard</h2>
    <!-- <p class="description">Blank starter page</p> -->
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>
<section id="main-content">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="col-md-6">
                <div class="panel panel-solid-info widget-mini">
                    <div class="panel-body">
                        <i class="icon-user"></i>
                        <span class="total text-center">{{campaignCount}}</span>
                        <span class="title text-center">Campaigns running</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-solid-info widget-mini">
                    <div class="panel-body">
                        <i class="icon-user"></i>
                        <span class="total text-center">{{clientcampaignUsersCount}}</span>
                        <span class="title text-center">Customers using your campaigns</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12">
            <h2>Campaigns</h2>
            <table class="table">
                <thead>
                    <th>Campaign</th>
                    <th>Awating</th>
                    <th>Redeemed</th>
                </thead>
                <tbody>
                    <tr ng-repeat="campaigns in clientCampaigns">
                        <td>{{campaigns.title}}</td>
                        <td>{{campaigns.toRedeem}}</td>
                        <td>{{campaigns.redeemed}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>